<footer class="mt-auto text-center text-xs font-header p-4 bg-footerbg">
  <p>Developed by <a rel="noopener noreferrer" target="_blank" aria-label="link to github" href="https://www.github.com/thigoap">thigoap</a></p>
  <p>Built with <a rel="noopener noreferrer" target="_blank" aria-label="link to 11ty" href="https://www.11ty.dev">11ty</a>
  and <a rel="noopener noreferrer" target="_blank" aria-label="link to Tailwind" href="https://www.tailwindcss.com">Tailwind CSS</a></p>
</footer>