<header class="font-header flex flex-col justify-center
  sm:flex-row sm:mt-4 sm:mx-auto
">
  <div>
    {% include 'components/hero.njk' %}
  </div>
  <div>
    {% include 'components/skills.njk' %}
  </div>
</header>