<div class="mb-3" id="projectsList">
  {% if techs %}
    <ul class="flex border-b flex-col text-center sm:flex-row">
      {% for tech in techs %}
        <li class="mr-1" id="item{{ tech.link }}">
          <p class="text-black inline-block cursor-pointer sm:py-2 sm:px-3 sm:bg-white" id="{{ tech.link }}">
            {{ tech.label }}
          </p>  
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>

<script>
  itemtoall.classList.add('-mb-px')
  toall.classList.add('font-medium', 'text-black', 'sm:border-l', 'sm:border-t', 'sm:border-r', 'sm:rounded-t')
</script>